.App {
  text-align: center;
  margin: 20px;
}

.PageHeader {
  background-color: #005534;
  color: white;
  font-size: 34px;
  padding: 20px;
}


.ChatContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #004128c0;
  margin: 20px;
  padding: 20px;
}

.ChatContainer button, input {
  font-size: 16px;
}

.ParagraphContainer {
  font-size: 20px;
}